header{
  background-color: #414141;
  color: #ddd;
}
header a {
  color: #ddd;
}
footer{
  background-color: #555555;
  color: #ddd;
}

body{
  background-color: #676767;
  color: #eee;
}
body a {
  color: #ddd;
}
